 
      body { 
        padding-top: 70px; 
       /* background-color: #E3E3F1;*/
      }
      .nav-container{
        padding-left: 60px;
      }
      .panel-heading{
        cursor: pointer;
      }
      .navbar {
        
        /*overflow:visible;*/
        box-shadow:0 2px 4px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
      }
      .article{
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            display: block;
            line-height: 1;
            padding: 10px 20px 10px 20px;
            margin-bottom: 10px;
      }
      .panel-default{
          margin-top: 5px;
      }
      .art-head{
        /*  margin-top: 5px;*/
          border-bottom: 1px solid #E4E4E4;
          /*font-size: 18px;*/
          line-height: 33px;
          /*padding: 16px 10px 16px 17px;*/
      }
      .art-title{
        padding: 5px 5px 5px 5px;
        margin-top:5px;
        /*width:500px;*/
      }
      .art-content{
        padding: 5px 5px 5px 5px;
      }
      .art-foot{
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top: 1px solid #E4E4E4;
            height: 40px;
            line-height: 40px;

      }
      .zCategory{
          margin-left: 5px;
      }
      .foot-div{
          display: inline-block;
          margin-right: 10px;
      }
      .head-div{
          display: inline-block;
          margin-right: 10px;
      }

      .com-content{
          padding:10px 20px 10px 20px;
      }
      .comment{
          /*background-color: #FAFAFA;*/
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          border: 1px solid #E4E4E4;
      }
      .com-time{
          text-align: right;
          margin-right: 20px
      }
      .well{
          margin:2px 20px 2px 5px;
      }
      .com-form{
          padding: 10px 10px 5px 10px;
      }
      .com-btn{
        position: relative;
        left:400px;
      }